//- each

- var array = ["Dage", "Ziyuan", "Ruiqi", "Yudan"];
ul 
    each val, idx in array
        li #{val} is at !{idx}

//-  while
- var n = 0;
- var ourGroup = ["Ling", "Yan", "Li", "Jun", "Hong", "Jie", "Yun"];
ul
    while n < ourGroup.length
        li #{ourGroup[n]} now at #{n++} 