// id# class. 属性
div#whoishaoqi.tellme My Dage

div 
    p Ziyuan is handsome
    | no I can't agree
    p so you a stick 

// 其他属性 括号()
div.aclass#bid(data-name="My Name") Content

// or &attributes
p#para&attributes({"A": "a", "B": "b"}) My paragraph.